.page {
    width: 100vw;
    height: 1600px;
    background-color: var(--background);    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid var(--borders);
}

.content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    width: 280px;
    height: calc(100vh - 64px);
    border-right: 1px solid var(--borders);
}

.appSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 28px;
    width: 32px;
    height: 100%;
    border-right: 1px solid var(--borders);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background-color: var(--secondary-200);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.app:hover {
    background-color: var(--primary-400);
    font-size: 20px;
    transform: scale(1.1);
}

.month {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    padding: 32px 16px;
}

.monthName {
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 16px;    
    font-family: 'Rubik', sans-serif;
}

.monthCalendarSection {
    display: flex;
    width: 100%;
    height: 275px;
}

.weekDayColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.weekDayName {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}

.weekDayNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    transition: background-color ease-in-out 0.2s;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.weekDayNumber:hover {
    background-color: var(--primary-50);
}

.dayDisabled {
    color: gray;
}

.dayDisabled:hover {
    background-color: rgb(238, 238, 238);
}

.dayToday {
    cursor: default;
    background-color: var(--primary-300);
}

.dayToday:hover {
    background-color: var(--primary-300);
}

.dayThisWeek {
    background-color: var(--primary-100);
}

.dayThisWeek:hover {
    background-color: var(--primary-200);
}